<div class="container">
  <h1>Pokedex</h1>
  <div>
    <p>Nom: {{ nom }}</p>
    <p>Numéro: {{ numero }}</p>
    <p>Type: {{ type }}</p>
    <p>Description: {{ description }}</p>
    <p>Taille: {{ taille }}</p>
    <p>Poids: {{ poids }}</p>
    <p>Evolution: {{ evolution }}</p>
    <!-- <p>Image: {{ image }}</p> -->

    <p>Nom: Bulbizarre</p>
    <p>Numéro: #001</p>
    <p>Type: Terre</p>
    <p>
      Description: Il a une étrange graine plantée sur son dos. Elle grandit
      avec lui depuis la naissance.
    </p>
    <p>Taille: 0.6 m</p>
    <p>Poids: 8.5 kg</p>
    <p>Evolution: Herbizarre</p>
  </div>

  <router-outlet></router-outlet>
</div>
